<!DOCTYPE html>
<html>
<head>
  <style>
    .container {
      position: relative;
      display: inline-block;
      border-radius: 5px;
      border-color: black;
    }
    .overlay {
      position: absolute;
      bottom: 10px;
      left: 10px;
      color: white;
      background: rgba(0,0,0,0.5);
      padding: 5px;
    }
    .stream {
      display: block;
    }

    body {
      background-color: #e0e0e0;
      font-family: Geneva, sans-serif;
    }
  </style>
</head>

<body>
  <div>
    <h3>Cameras</h3>
    <ul>
      {% for cam in live_cams %}
        <li>{{ cam }}</li>
      {% endfor %}
    </ul>
  </div>


  {% for camID in live_cams %}
    <div class="container">
      <img class="stream" src="/stream/{{ camID }}" width="640" height="480">
      <div class="overlay">{{ camID }}</div>
    </div>
  {% endfor %}
    
</body>

</html>
