<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Wireless Cameras</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
  <div class="sidebar">
    <h2>Available Cameras</h2>
    {% if live_cams %}
    <ul>
      {% for cam in live_cams %}
        <li>
          <label for="cam-{{ cam }}">{{ cam }}</label>
          <input type="checkbox" id="cam-{{ cam }}" class="camera-toggle" data-cam="{{ cam }}" checked>
          <label for ="cam-{{ cam }}" class="toggle-label"></label>

        </li>
      {% endfor %}
    </ul>
    {% else %}
      <p class="no-cameras">No cameras connected.</p>
    {% endif %}

    <p class="reload-msg">Reload for the newest information.</p>

    <form method="POST" action="/logout" class="logout-form">
      <button type="submit">Log Out</button>
    </form>
  </div>

  <div class="content">
    {% if live_cams %}
      {% for camID in live_cams %}
      <div class="camera-container" id="stream-{{ camID }}">
        <img class="stream" src="/stream/{{ camID }}" alt="Live Stream {{ camID }}">
        <div class="overlay">{{ camID }}</div>
      </div>
    {% endfor %}
    {% else %}
      <div class="camera-container empty-state">
        <p>Connect a camera to power to get started.</p>
      </div>
    {% endif %}
  </div>



  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
